body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(233, 231, 243);
}

.head-title {
  font-size: xx-large;
}

button {
  font-family: "Courier New", Courier, monospace;
}

section {
  text-align: center;
}

.choices-btns {
  margin: 80px;
  display: flex;
  justify-content: space-evenly;
}

.btn-img {
  height: 150px;
  cursor: pointer;
  transition: height 0.2s;
}

.btn-img:hover {
  height: 155px;
}

#game-section {
  display: flex;
  justify-content: space-between;
}

#your-choice {
  opacity: 0%;
  transform: rotate(45deg) scaleX(-1);
  position: relative;
  animation: your-choice-move 1.6s ease forwards;
}

@keyframes your-choice-move {
  from {
    left: 0%;
    opacity: 0%;
  }
  to {
    left: 25%;
    opacity: 100%;
  }
}

#computer-choice {
  opacity: 0%;
  transform: rotate(315deg) scaleX(1);
  position: relative;
  animation: computer-choice-move 1.6s ease forwards;
}

@keyframes computer-choice-move {
  from {
    left: 0%;
    opacity: 0%;
  }
  to {
    left: -25%;
    opacity: 100%;
  }
}

#result-div {
  display: flex;
  justify-content: space-evenly;
}
